section.page-section(v-bind:id='id')
    .container
        dynamic-component(
            v-bind:component_infos='title_section'
        )
        form(
            ref='form'
            v-bind:action='url'
            v-bind:method='method'
        )
            csrf-input
            div(v-for='formItemSections in form_item_sections' v-bind:key='formItemSections[0].data.name')
                component(
                    v-bind:style='getHiddenStyle(formItemSections)'
                    v-for='formItemSection in formItemSections'
                    v-bind:key='formItemSection.data.name'
                    v-bind:ref='formItemSection.data.name'
                    v-bind:is='getConvertedType(formItemSection.type)'
                    v-bind='formItemSection.data'
                    v-bind:value='formItemSection.data.value'
                    v-on:update:value='(newValue) => { valueChanged(formItemSection, newValue) }'
                )
            p(v-if='currentPageNumber > 0') {{ sum_price_label }}: {{ sumPrice }} RON
            input(
                name='client_id'
                v-bind:value='clientId'
                type='hidden'
            )
            input(
                name='order_type_id'
                v-bind:value='orderType'
                type='hidden'
            )
            dynamic-web-request-offer-pagination(
                v-if='currentPageNumber > 0 && form_item_sections.length > 2'
                v-bind:line_count='form_item_sections.length - 1'
                v-bind:current_index='currentPageNumber'
            )
            //dynamic-web-request-offer-checkbox-input-with-link(
                v-bind:label='privacy_policy_label'
                v-bind:url='privacy_policy_url'
                v-bind:url_label='privacy_policy_url_label'
            //)
            .buttons.text-center
                .form-item(v-if='currentPageNumber > 0')
                    button.btn.btn-primary.btn-xl(type='button' v-on:click='back') {{ back_button_title }}
                .form-item(v-if='currentPageNumber == 0 || currentPageNumber < form_item_sections.length - 1')
                    button.btn.btn-primary.btn-xl(type='button' v-on:click='next') {{ next_button_title }}
                .form-item(v-if='currentPageNumber != 0 && currentPageNumber == form_item_sections.length - 1')
                    button.btn.btn-primary.btn-xl(type='button' v-on:click='submitForm') {{ button_title }}
